@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=04A5F841-0642-4819-9DEF-7373B14AD2AA

@colibrio:registry=https://npm.pkg.colibrio.com/
//npm.pkg.colibrio.com/:_authToken=legible-rqwtKIbL93bOcTQf0XkGy9Mz
//npm.pkg.colibrio.com/:always-auth=true
